application/old_updates/*
application/config/database.php
application/config/config.php

# Ignore All Folders contents which is uploaded
uploads/*/*

vendor/*

api/*

*.zip

api_*

application/vendor/*

.htaccess
.user.ini
error_log
php.ini